extends layout

block content
  .container
    br
    br
    h1 #{__('Users')}
    br
    table.table    
      thead
        tr
          th(scope='col') #{__('Full Name')}
          th(scope='col') #{__('User Name')}
          th(scope='col') #{__('Password')}
          th(scope='col') #{__('Profile Admin')}
        tbody
        each key in users
          tr 
            td(scope='row') !{key.fullname}
            td(scope='row') !{key.username}
            td(scope='row') !{key.password}
            td(scope='row') !{key.admin}
            
    p.pull-right by 
      a(href='http://aquaplouf.mooo.com/') Vincent de RIBOU 
      | VmluY2VudCBkZSBSSUJPVSA8di5kZXJpYm91QGdtYWlsLmNvbT4=
